<footer class="footer site-footer">

    <div class="site-copy">© {{ 'now' | date: "%Y" }}&nbsp;<span class="site-author">TBlackford</span></div>

    <div class="site-links">
        <div class="site-contact">
            <ul>

                <li><a href="mailto:jackal@gmail.com">Contact</a></li>



                <li><a target="_blank" rel="external" href="https://github.com/clenemt">Github</a></li>



                <li><a target="_blank" rel="external" href="https://twitter.com/clenemt">Twitter</a></li>

            </ul>
        </div>
        <div class="site-source">
            <ul>
                <li><a target="_blank" href="https://github.com/clenemt/jackal">Source</a></li>
            </ul>
        </div>
    </div>
</footer>
