<header class="header" id="navbar">

    <div class="sticky">
        <h1 class="site-title">
            <a href="/" title="Home page">Thom Paine</a>
        </h1>

        <ul class="menu">

            {% if page.active == "articles" %}
            <li class="menu-item active">
            {% else %}
            <li class="menu-item">
            {% endif %}
                <a href="/articles" title="Stuffs I write about" >Articles</a>
            </li>

            {% if page.active == "projects" %}
            <li class="menu-item active">
            {% else %}
            <li class="menu-item">
            {% endif %}
                <a href="/projects" title="Stuffs I like to do" >Projects</a>
            </li>


            {% if page.active == "work" %}
            <li class="menu-item active">
            {% else %}
            <li class="menu-item">
            {% endif %}
                <a href="/work" title="Stuffs I hate to do" >Work</a>
            </li>


            {% if page.active == "about" %}
            <li class="menu-item active">
            {% else %}
            <li class="menu-item">
            {% endif %}
                <a href="/about" title="Learn about me" >About</a>
            </li>

        </ul>


    </div>
</header>
