<header class="header" id="navbar">

    <div class="sticky">
<!--        <div class="logo-wrapper">-->
<!--            <div class="yellow-box"></div>-->
<!--            <h1>Thom<br>Paine</h1>-->
<!--        </div>-->
        <h1 class="site-title">
            <a href="/" title="Home page">Thom Paine</a>
        </h1>

        <ul class="menu">
            <li class="menu-item active">
                <a href="/jackal/articles/" title="Stuffs I write about" >Articles</a>
            </li>
            <li class="menu-item">
                <a href="/jackal/projects/" title="Stuffs I like to do" >Projects</a>
            </li>
            <li class="menu-item">
                <a href="/jackal/work/" title="Stuffs I hate to do" >Work</a>
            </li>
            <li class="menu-item">
                <a href="/jackal/about/" title="Learn about me" >About</a>
            </li>
        </ul>
    </div>
</header>
