<div class="content-wrap">
    <div class="well">
        <div class="row container">
            <a href="{{post.url}}"><h4 class="title">{{ post.title }}</h4></a>
            <h5 class="title">{{ post.lead_text }}</h5>

            <b>{{ post.date | date_to_long_string }}</b>
            <b>|</b>
            {% if post.tags != empty %}
            <div class="tags badge badge-dark">
                {% for tag in post.tags %}
                <span>{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
