<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="site">
            <div class="page">
                {% include header.html %}
                <div class="page-content">
                    <section class="intro">
                        <div class="wrap lead pretty-links">
                            {{ content }}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
